{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% from "hmcts-header/macro.njk" import hmctsHeader %}

{{ hmctsHeader({

service: {
name: 'Find colleagues with accessibility needs',
url: 'start'
},

navigation: {
label: 'Account navigation',
items: [{
  text: '',
  href: ''
}
]
}

}) }}

{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{{ govukBackLink({
  text: "Back",
  href: "accessibility-user"
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="about-you" method="post" class="form">

        {{ govukCheckboxes({
          idPrefix: "assistive-technologies",
          name: "assistive-technologies",
          fieldset: {
            legend: {
              text: "Which assistive technologies do you use?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "Screen readers (JAWS, NVDA, VoiceOver on iOS, TalkBack on Android)",
              text: "Screen readers (JAWS, NVDA, VoiceOver on iOS, TalkBack on Android)"
            },
            {
              value: "Screen magnifiers (ZoomText, Windows Magnifier, Apple Zoom)",
              text: "Screen magnifiers (ZoomText, Windows Magnifier, Apple Zoom)"
            },
            {
              value: "Speech recognition (Dragon)",
              text: "Speech recognition (Dragon)"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>


{% endblock %}
