{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% from "hmcts-header/macro.njk" import hmctsHeader %}

{{ hmctsHeader({

service: {
name: 'Help to make our digital services accessible for DWP staff',
url: 'start'
},

navigation: {
label: 'Account navigation',
items: [{
  text: '',
  href: ''
}
]
}

}) }}

{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{{ govukBackLink({
  text: "Back",
  href: "contact-details"
}) }}

{% endblock %}

{% block content %}
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Check your answers</h1>

    <h2 class="govuk-heading-m">How you can help</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What you’re interested in doing
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data["how-you-can-help"] | length < 4 %} 
            {% for item in data['how-you-can-help'] %}
              <p>{{ item }}</p>
            {% endfor %}
          {% else %}
            <p>{{ data['how-you-can-help'] }}</p>
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="what">
            Change<span class="govuk-visually-hidden"> what you’re interesting in doing</span>
          </a>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How you want to take part
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data["how"] | length < 5 %} 
            {% for item in data['how'] %}
              <p>{{ item }}</p>
            {% endfor %}
          {% else %}
            <p>{{ data['how'] }}</p>
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="how">
            Change<span class="govuk-visually-hidden"> how you want to take part</span>
          </a>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How much time
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data["time"] | length < 5 %} 
            {% for item in data['time'] %}
              <p>{{ item }}</p>
            {% endfor %}
          {% else %}
            <p>{{ data['time'] }}</p>
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="time">
            Change<span class="govuk-visually-hidden"> how much time you are happy to spend helping us</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you work Monday to Friday?
        </dt>
        <dd class="govuk-summary-list__value">
         {{ data["monday-to-friday"] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="monday-to-friday">
            Change<span class="govuk-visually-hidden"> if you work Monday to Friday</span>
          </a>
        </dd>
      </div>

      {% if data["monday-to-friday"] == "No" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Which days do you work?
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data["which-days"] | length < 6 %} 
            {% for item in data['which-days'] %}
              <p>{{ item }}</p>
            {% endfor %}
          {% else %}
            <p>{{ data['which-days'] }}</p>
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="which-days">
            Change<span class="govuk-visually-hidden"> which days you work</span>
          </a>
        </dd>
      </div>
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How much notice
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['notice'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="notice">
            Change<span class="govuk-visually-hidden"> how much notice you need before taking part</span>
          </a>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you use accessibility software?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['accessibility-user'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="accessibility-user">
            Change<span class="govuk-visually-hidden"> if you use accessibility software</span>
          </a>
        </dd>
      </div>

      {% if data['accessibility-user'] == 'Yes'  %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Assistive technologies you use
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data["assistive-technologies"] | length < 4 %} 
            {% for item in data['assistive-technologies'] %}
              <p>{{ item }}</p>
            {% endfor %}
          {% else %}
            <p>{{ data['assistive-technologies'] }}</p>
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="which-assistive-technologies">
            Change<span class="govuk-visually-hidden"> which assistive technologies you use</span>
          </a>
        </dd>
      </div>
      {% endif %}
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          About you
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data["accessibility-needs"] | length < 4 %} 
            {% for item in data['accessibility-needs'] %}
              <p>{{ item }}</p>
            {% endfor %}
          {% else %}
            <p>{{ data['accessibility-needs'] }}</p>
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="about-you">
            Change<span class="govuk-visually-hidden"> your answer to tell us about yourself</span>
          </a>
        </dd>
      </div>
    </dl>
          
    <h2 class="govuk-heading-m">Contact details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9"> 
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Your full name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['full-name'] | title }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="contact-details">
            Change<span class="govuk-visually-hidden"> your full name</span>
          </a>
        </dd>
      </div>
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Your email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['email'] | lower }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="contact-details">
            Change<span class="govuk-visually-hidden"> your email address</span>
          </a>
        </dd>
      </div>
     
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Your line manager’s full name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['line-manager-full-name'] | title }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="contact-details">
            Change<span class="govuk-visually-hidden"> your line manager’s full name</span>
          </a>
        </dd>
      </div>
     
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Your line manager’s email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['line-manager-email'] | lower }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="contact-details">
            Change<span class="govuk-visually-hidden"> your line manager’s email address</span>
          </a>
        </dd>
      </div>
    </dl>

    {{ govukButton({
      text: "Continue",
      href: "success"
    }) }}  

  </div>
</div>

{% endblock %}
