{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% from "hmcts-header/macro.njk" import hmctsHeader %}

{{ hmctsHeader({

service: {
name: 'Help to make our digital services accessible for DWP staff',
url: 'start'
},

navigation: {
label: 'Account navigation',
items: [{
  text: '',
  href: ''
}
]
}

}) }}

{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="accessibility-software" method="post" novalidate>

        {{ govukRadios({
          idPrefix: "notice",
          name: "notice",
          fieldset: {
            legend: {
              text: "How much notice do you need before taking part?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "2 to 3 working days",
              text: "2 to 3 working days"
            },
            {
              value: "1 week",
              text: "1 week"
            },
            {
              value: "3 weeks",
              text: "3 weeks"
            }
          ]
        }) }}
    
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
