{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% from "hmcts-header/macro.njk" import hmctsHeader %}

{{ hmctsHeader({

service: {
name: 'Help to make our digital services accessible for DWP staff',
url: ''
},

navigation: {
label: 'Account navigation',
items: [{
  text: '',
  href: ''
}
]
}

}) }}

{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  
    <h1 class="govuk-heading-l">Help to make our digital services accessible for DWP staff</h1>
    <p class="govuk-body">If you want to help to make digital products and services more accessible for staff, use this service to tell us:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>how you would like to help - for example by completing surveys, trying out software, or speaking to a researcher</li>
      <li>what accessibility software you use, if any</li>
      <li>what days you work</li>
    </ul>
    {{ govukButton({
      text: "Start now",
      href: "what",
      isStartButton: true
    }) }}

  </div>
</div>

{% endblock %}
