{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% from "hmcts-header/macro.njk" import hmctsHeader %}

{{ hmctsHeader({

service: {
name: 'Help to make our digital services accessible for DWP staff',
url: 'start'
},

navigation: {
label: 'Account navigation',
items: [{
  text: '',
  href: ''
}
]
}

}) }}

{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{{ govukBackLink({
  text: "Back",
  href: "how"
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="monday-to-friday" method="post" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                How much time can you spend helping us in each session?
              </h1>
            </legend>
            <div id="waste-hint" class="govuk-hint">
              Select all that apply.
            </div>
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="1-hour" name="time" type="checkbox" value="1 hour or less">
                <label class="govuk-label govuk-checkboxes__label" for="1-hour">
                  1 hour or less
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="half" name="time" type="checkbox" value="Up to half a day">
                <label class="govuk-label govuk-checkboxes__label" for="half">
                  Up to half a day
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="multiple" name="time" type="checkbox" value="Multiple short tasks completed over a number of days">
                <label class="govuk-label govuk-checkboxes__label" for="multiple">
                  Multiple short tasks completed over a number of days
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>


{% endblock %}
