{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% from "hmcts-header/macro.njk" import hmctsHeader %}

{{ hmctsHeader({

service: {
name: 'Find colleagues with accessibility needs',
url: 'start'
},

navigation: {
label: 'Account navigation',
items: [{
  text: '',
  href: ''
}
]
}

}) }}

{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{{ govukBackLink({
  text: "Back",
  href: "when"
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Alternative contact</h1>
      <p class="govuk-body">Tell us who we should contact if we cannot reach you. This could be your product manager or someone else on your team.</p>

      <form action="check-answers" method="post" novalidate>

        {{ govukInput({
          label: {
            text: "Their full name"
          },
          id: "alternative-contact-full-name",
          name: "alternative-contact-full-name",
          autocomplete: "name",
          spellcheck: false 
        }) }}

        {{ govukInput({
          label: {
            text: "Their DWP email address"
          },
          id: "alternative-contact-email",
          name: "alternative-contact-email",
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>


{% endblock %}
