{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% from "hmcts-header/macro.njk" import hmctsHeader %}

{{ hmctsHeader({

service: {
name: 'Find colleagues with accessibility needs',
url: ''
},

navigation: {
label: 'Account navigation',
items: [{
  text: '',
  href: ''
}
]
}

}) }}

{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-l">Find colleagues with accessibility needs to take part in your user research and testing</h1>
    <p class="govuk-body">Use this service to request volunteers to take part in your user research or accessibility testing for your product or service.</p>
    <p class="govuk-body">Before requesting volunteers for user research and accessibility testing:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>read and complete the DAC3 form (WCAG 2.1 assessment)</li>
      <li>complete a SARA form to gain approval to request volunteers</li>
    </ul>
    <p>When you submit this form, the Accessibility Technologies Services team will be able to see your name and email address.</p>
    {{ govukButton({
      text: "Start now",
      href: "what-do-you-need-participants-for",
      isStartButton: true
    }) }}

  </div>
</div>

{% endblock %}
