{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% from "hmcts-header/macro.njk" import hmctsHeader %}

{{ hmctsHeader({

service: {
name: 'Find colleagues with accessibility needs',
url: ''
},

navigation: {
label: 'Account navigation',
items: [{
  text: '',
  href: ''
}
]
}

}) }}

{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{% endblock %}

{% block content %}


<div class="govuk-inset-text">
  <p>Request users</p>
  {{ govukButton({
  "text": "View prototype",
  "href": "/01/start"
}) }}
</div>

<div class="govuk-inset-text">
  <p>Sign up to take part</p>
  {{ govukButton({
  "text": "View prototype",
  "href": "/02/start"
}) }}
</div>


{% endblock %}
