{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% from "hmcts-header/macro.njk" import hmctsHeader %}

{{ hmctsHeader({

service: {
name: 'Help to make our digital services accessible for DWP staff',
url: 'start'
},

navigation: {
label: 'Account navigation',
items: [{
  text: '',
  href: ''
}
]
}

}) }}

{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{{ govukBackLink({
  text: "Back",
  href: "how"
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="check-answers" method="post" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                How much notice do you need before taking part?
              </h1>
            </legend>
            <div id="waste-hint" class="govuk-hint">
              Select all that apply.
            </div>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="now" name="notice" type="radio" value="None, I’m available immediately">
                <label class="govuk-label govuk-radios__label" for="now">
                  None, I’m available immediately
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="alpha" name="notice" type="radio" value="I need 3 weeks’ notice">
                <label class="govuk-label govuk-radios__label" for="alpha">
                  I need 3 weeks’ notice
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="beta" name="notice" type="radio" value="I need more than 3 weeks’ notice">
                <label class="govuk-label govuk-radios__label" for="beta">
                  I need more than 3 weeks’ notice
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>


{% endblock %}
